*{
    margin: 0px;
    padding: 0px;
    border: 0;
    font-size: 100%
    vertical-align: baseline;

}
body{
    background: #ec84ca;
    font-family: sans-serif;
    text-align: center;
}

#container{
    width: 90%;
    margin: 0px auto;
}

.logo {
    text-decoration: none;
    color: #F2D5C4;
    text-transform: uppercase;
    font-size: 20px;

}

.navbar {
    display: block;
    padding: 23px 20px;
    color: #080101;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;

}

.navbar:hover {
    background: #c6f2ee;

}

head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #F2D5C4;
    position: fixed;
    z-index: 100;
    width: none;
}

nav{
    background: #DAFDBA;
    height: 50px;
    border-bottom: 5px solid #fff;}

.clear {
    clear: both;
}
#contenido{
    float: left;
    width: calc(80% - 80px);
    min-height: 500px;
    background: #b1ea7b;
    padding: 40px;
}
.article{
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    text-align: justify;
    font-size: large;
}
aside{
    float: left;
    width: calc(20% - 20px);
    min-height: 500px;
    background: #038C7F;
    padding: 10px; 
}
@media screen and (max-width: 700px)

nav ul li{
        width: none;
        flex-basis: 0;
        flex-grow: 1;
    }

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-image: url('ropita.png');
    background-size: contain;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: black;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px soli9AEBA3d #080101;
    color: black;
    text-decoration: none;
    background: #DAFDBA;
}

.btn-home {
    display: flex;
}

.btn-home {
        margin: 0 10px;

}

.content {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    float: left;
    margin-left: 40px;
}