*{
    margin: 0px;
    padding: 0px;

}
body{
    background: #ec84ca;
    font-family: sans-serif;

}
#container{
    width: 90%;
    margin: 0px auto;
}
header h1{
        background: #9AEBA3;
        height: 200px;
        width: 100%;
        text-align: center;
        line-height: 200px;
        color: black;
        border-bottom: 20px solid #fff;
        font-size: 50px;
    }
nav{
    background: #DAFDBA;
    height: 50px;
    border-bottom: 5px solid #fff;
}
nav ul li{
    float: right;
    list-style: none;
    margin: 10px;
    color: black;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
}
nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #D96704;
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 100%;

}
.clear{
    clear: both;
}
#contenido{
    float: left;
    width: calc(80% - 80px);
    min-height: 500px;
    background: #8a569e;
    padding: 40px;
}
.article{
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    text-align: justify;
    font-size: large;
}
aside{
    float: left;
    width: calc(20% - 20px);
    min-height: 500px;
    background: #038C7F;
    padding: 10px; 
}
@media screen and (max-width: 700px) {
    nav ul li{
        width: none;
        flex-basis: 0;
        flex-grow: 1;
    }
}